<section class="container-fluid inner_header  ">
  <h1 class="inner_heading_text text-white">Our Services</h1>
</section>
<section>

<div class="row">
<div class="col-md-9 left_inner_content">
  <div class="row">
   <div class="col-md-4">
     <div class="fa fa-cutlery text-center col-md-12" aria-hidden="true"></div>
   <h3 class="text-center service_heading">Restaurant</h3>
   <p class="text-white">We have nice restaurant where you can get variety of foods with low cost price.</p>
   </div>
   <div class="col-md-4">
     <div class="fa fa-taxi text-center col-md-12" aria-hidden="true"></div>
     <h3 class="text-center service_heading">Taxi To Airport</h3>
     <p>We have nice restaurant where you can get variety of foods with low cost price.</p>

   </div>
   <div class="col-md-4">
     <div class="fa fa-taxi text-center col-md-12" aria-hidden="true"></div>
     <h3 class="text-center service_heading">Lounge</h3>
     <p>We have lush and greenery lounge where you can sit and rest and refresh yourself.</p>

   </div>
  </div>



  <div class="row">
   <div class="col-md-4">
     <div class="fa fa-coffee text-center col-md-12" aria-hidden="true"></div>
     <h3 class="text-center service_heading">Cofee</h3>
   <p>We have Taxi for which we can provide you facility to pickup and drop to and from Airport.</p>
   </div>
   <div class="col-md-4">
     
     <div class="fa fa-hotel text-center col-md-12" aria-hidden="true"></div>
     <h3 class="text-center service_heading">Rooms</h3>
     <p>We have family rooms for our guest. If you want book our rooms you can contact us  any time</p>
   
   </div>
   <div class="col-md-4">
     <div class="fa fa fa-life-ring text-center col-md-12" aria-hidden="true"></div>
   
     <h3 class="text-center service_heading">Wedding Hall</h3>
     <p>We have fully decorated wedding hall for marriage. You can book our wedding hall by calling us.</p>

   </div>
  </div>



</div>
<div class="col-md-3 text-center sidebar_main">
  <app-sidebar></app-sidebar>
</div>
</div>
</section>

