<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        style="border-radius: 50%; width: 50%; height: 50%"
        src="../assets/images/logo.png"
        class="logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <div>
        <ul
          class="navbar-nav me-auto my-2 my-lg-0  color"
          style="--bs-scroll-height: 100px"
        >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              routerLink="service"
              id="navbarScrollingDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li>
                <a class="dropdown-item" routerLink="services/restaurants"
                  >Retaurant</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="services/taxi"
                  >Taxi To Airport</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="services/lounge">Lounge</a>
              </li>
              <li><hr class="dropdown-divider" /></li>

              <li>
                <a class="dropdown-item" routerLink="services/coffee">Cofee</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="services/rooms">Rooms</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="services/wedding"
                  >Wedding Halls</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="travel" tabindex="-1">Travel</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="services/restaurants" tabindex="-1"
              >Restaurant</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="contact" tabindex="-1">Contact</a>
          </li>
        </ul>
      </div>

      <!-- <div class="social_box">
        <ul>
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-instagram"></i></li>
          <li><i class="fa fa-twitter"></i></li>
          <li><i class="fa fa-whatsapp"></i></li>
        </ul>
      </div> -->
    </div>
  </div>
</nav>
