
<section class="container-fluid inner_header">
       <h1 class="inner_heading_text">Taxi</h1>
   </section>
   
   <section class="container">
   
   
   <div class="row">
    <div class="col-md-9 left_inner_content">
   
   <img src="../../assets/images/left_article_image.jpg" style="float:left" class="img-fluid">
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
     Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type
       and scrambled it to make a type specimen book. It has survived 
       not only five centuries, but also the leap into electronic typesetting, 
       remaining essentially unchanged. It was popularised in the 1960s with
        the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus 
        PageMaker including versions of Lorem Ipsum.type specimen book.
         It has survived not only five centuries, but also the leap into 
         electronic typesetting, remaining essentially unchanged. It was 
         popularised in the 1960s with the release of Letraset sheets containing
          Lorem Ipsum passages, and more recently with desktop publishing software
           like Aldus PageMaker including versions of Lorem Ipsum.
           Lorem Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s, when an unknown printer took a galley of type
             and scrambled it to make a type specimen book. It has survived 
             not only five centuries, but also the leap into electronic typesetting, 
             remaining essentially unchanged. It was popularised in the 1960s with
              the release of Letraset sheets containing Lorem Ipsum passages, 
              and more recently with desktop publishing software like Aldus 
              PageMaker including versions of Lorem Ipsum.type specimen book.
               It has survived not only five centuries, but also the leap into 
               electronic typesetting, remaining essentially unchanged. It was 
               popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop publishing software
                 like Aldus PageMaker including versions of Lorem Ipsum.    
        
        
        </p>
          
   
   
   
    </div>
   <div class="col-md-3 text-center sidebar_main">
   
   <app-sidebar></app-sidebar>
   </div>
   </div>
   </section>
   